
  .panelheading{
    border-color: none !important;
  }
   .panelTableBody {
    padding: 0px;
    & .panelTable {
      margin-top: 2px;
      margin-bottom: 0px;
      padding: 0px;
      tr {
        padding-top: 5px;
        border-top: 1px solid #ddd;
      }
      & .panelTableHead{

        height: 40px;
        background: #F2F6F9;
        th {
          padding-left: 20px;
        }
      }
      & .panelTableTBody {
        td {
          padding: 10px 0px;
          padding-left: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          & .starButtonToolbar {
            margin-bottom: -2px;
            & .starButtonActive {
              padding: 0;
              margin: 0;
              margin-right: 1px;
              color: #F6A623;
              border: none;
              outline:none;
            }
            & .starButton {
              padding: 0;
              margin: 0;
              margin-right: 1px;
              color: grey;
              border: none;
              outline:none;
            }
          }
        }
      }
    }

  }
 .deactivebutton{
    /*margin-top: 20px;*/
    margin-right: 20px;
    float: right;
    border-color: #1B557A;
    border-radius: 3px;
    color: #1B557A;
    border-width: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .pagination {
    margin: 0px;
    float: right;

  }

  .customerSearch{
    margin-top: -0.6%;
    border: 2px solid inherit;
    float: right;
    // border-radius: 7px;
    text-align: center;
    color: black;
    padding: 3px;
  }