@import './variables.scss';

.loginPage {
  // background: var(--brand-primary);
  background: #FFF;
  color: #fff;
    .loginForm {
    height: auto;
    width: 500px;
    padding: 60px;
    margin: 40px auto;
    text-align: center;
    background: #FFF;
    border: 0px solid black;
     box-shadow: 1px 1px 1px 1px grey;

    img {
    height: 100px;
    margin-top: 20px;
    // border-radius: 50%;
    }

   h1 {
    font-weight: 300;
    font-size: 30px;
    margin: 20px 0;
    color : #FFC700;
    }

    .formContent {
    padding-top: 20px;
    padding-bottom: 10px;
    
    &:global(.form-group) {
    padding: 8px 0;
    }

   .inputStyle {
      background: #f3cea6;
      // border: 5px #EB963D;
       border: 1px 1px 1px 1px solid black;
      // box-shadow: none;
      color: black;
      border-radius: 0;
      height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
       ::placeholder {
        color: black;
        

        }
      &:focus {
        border-bottom: 2px solid #fff;
        box-shadow: none;
      }
    }
  }

   .loginbtn {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
    background: #EB963D;
    border-color: transparent;
    font-weight: 400;
    border-radius: 50px;
    text-transform: none;
    font-size: 18px;
    line-height: 45px;
    padding: 0 25px;
    color: #FFF;
     &:hover, &:focus , &:active {
      box-shadow: 0 0 0 2px #fff inset;
      color: #fff;
      background: #f3cea6;
      outline: none;
    }
    //  & :global(.progress .progress-inner) {
    //   background: color(var(--brand-primary) lightness(40%));
    // }
  }
  }

}

@media (min-width:0px) and (max-width:768px){ 
  .loginForm { width: 300px !important; padding: 20px !important; }
}