@import './variables.scss';

.sidebar {
  width: var(--nav-width);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #174C6C;
  transition: all 0.2s ease-in-out;
  & .sidenavOuter {
    background:  #FFF;
    position: absolute;
    top:70px;
    bottom:0;
    left:0;
    right: 0;
    overflow-x: hidden;
    color: black;
    overflow-y: auto;
    & .sidemenuListTab {
      background: #fff;      
      line-height: 30px;
      border-top: 1px solid #FFC700;
      & .topnavImgLeft {
        display: inline-block !important;
        width: 15px;
        margin-bottom: 2px;
        margin-left: 12px;
        margin-right: 10px;
      }
      & .sidemenuListAddIcon {
        float: right;
        margin-top: 8px;
        margin-right: 8px;
        color: black;
      }

    }
    & :global(ul) {
      padding: 0;
      margin: 0;
      & :global(li) {
        & :global(a) {
          display: block;
          padding: 7px 10px 10px;
          color: #FFF;
          text-decoration: none;
          & :global(span:nth-child(1)) {
          }
          & :global(span:nth-child(2)) {
            color: #383838;
            font-size: 11.5px;
            font-weight: 300;
          }
          &:hover {
            background: var(--brand-primary);
          }
        }
      }
    }
  }
}
@media screen and (max-width:768px) {
  .sidebar {
    left: -235px;
  }
  :global(.push-right) {
    & .sidebar {
      left: 0;
    }
  }
}
