.profilediv{
   background-color: white;
   padding: 20px 15px;
   margin-left: 7px;
   margin-right: 10px;
   margin-top: 0px;
   margin-bottom: 20px;
   height: 120px;
   box-shadow: 2px 2px 1px 2px #ccc;
   & .image {
     background-color: white !important;
     display: inline-block !important;
     width: 80px;
     margin-left: 16px;
     margin-right: 8px;
     margin-bottom: 4px;
     margin-top: -25px;
   }
   & .profdetails {
     display: inline-block;
     & .profname{
        font-weight: bold;
        font-size: 15px;
        margin-top: 10px;
       display: inline-block;
     }
     & .namephone{
        margin-top: 10px;
     }
     & .profrating{
        display: inline-block;
        margin-left: 15px;
        margin-top: 10px;
        & .starButtonToolbar {
          margin-bottom: -2px;
          & .starButtonActive {
            padding: 0;
            margin: 0;
            margin-right: 1px;
            color: #F6A623;
            border: none;
            outline:none;
          }
          & .starButton {
            padding: 0;
            margin: 0;
            margin-right: 1px;
            color: grey;
            border: none;
            outline:none;
          }
        }
     }
     & .phone{
        display: inline-block;
     }
     & .email{
        display: inline-block;
     }
   }
   & .deactivebutton{
     margin-top: 20px;
     margin-right: 20px;
     float: right;
     border-color: #1B557A;
     border-radius: 3px;
     color: #1B557A;
     border-width: 2px;
     padding-top: 3px;
     padding-bottom: 3px;
     padding-left: 12px;
     padding-right: 12px;
   }

}


  .tabdiv{
     padding: 0;
    & .panelTableBody {
      padding: 0px;
      & .panelTable {
        margin-top: 2px;
        margin-bottom: 0px;
        padding: 0px;
        & .panelTableHead{
          background: #F2F6F9;
        }
      }
      & .panelTableTBody {
        td {
          max-width: 400px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          & .starButtonToolbar {
            margin-bottom: -2px;
            & .starButtonActive {
              padding: 0;
              margin: 0;
              margin-right: 1px;
              color: #F6A623;
              border: none;
              outline:none;
            }
            & .starButton {
              padding: 0;
              margin: 0;
              margin-right: 1px;
              color: grey;
              border: none;
              outline:none;
            }
          }
        }
      }
    }
  }

  @media (min-width:0px) and (max-width:768px){
    .image{
      margin : 0px !important;
      float: left;
    }
    .profilediv .profdetails { 
      float: left;
      margin-left: 10px;
      width: 170px;
    }
 }



/*FormControl {
  box-shadow: none;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #ccc;
  background-color: yellow;
}
.custome {
  background-color: blue;
}*/
