 .panel1{
    height: 300px;
   & .form1 {
      background-color: white;
      /*padding: 5px 20px;*/
      padding-bottom: 20px;
      padding-top: 11px;
      & .formgroup {
         margin-top: 10px;
         margin-bottom: 10px;
         & .formcontrol {
           background-color: '#ddd';
           width: 65%;
         }
         & .span1 {
            padding: 0;
            & .formcontroldd {
              width: 20%;
              padding: 3%;
            }
            & .formcontrolmm {
              width: 20%;
              margin-left: 5%;
              padding: 3%;
            }
            & .formcontrolyy {
              width: 48%;
              margin-left: 5%;
            }
         }
      }
   }
 }
