.panel11{
  /*height: 242px;*/
  & .panelheading{
    box-shadow: 0px 2px 2px 0px #ddd;
  }
  & .panelBody {
     background-color: #fff;
     & .form {
        margin-top: 11px;
       & .formgroup {
          margin-top: 10px;
          margin-bottom:  6px;
          & .formcontrol {
            background-color: '#ddd';
            width: 35%;
          }
       }
     }
    & .pannelListGroup {
     margin-bottom: 0px;
     margin-top: -4px;
     & .pannelList {
       border-width: 0;
       margin-bottom: 5px;
       padding: 15px 15px;
       border-bottom-width: 1px;
       border-bottom-color: #eee;
       span {
         color: grey;
       }
       & .pannelListButtons {
         display: inline-block;
         float: right;
       }
     }
   }

  }
}
