.panelcloud{
  height: 250px;
  & .panelBody {
     background-color: #fff;
     padding: 10px;
  & .pannelListGroup {
     margin-bottom: 0px;
     margin-top: -4px;
     & .pannelList {
       border-width: 0;
       margin-bottom: 5px;
       padding: 15px 15px;
       border-bottom-width: 0px;
       border-bottom-color: #eee;
       span {
         color: grey;
       }
       & .pannelListButtons {
         display: inline-block;
         float: right;
       }
     }
     & .panellist2{
        border-bottom-width: 0px;
     }
   }
   & .form {
      margin-top: 11px;
     & .formgroup {
        margin-top: 10px;
        margin-bottom:  6px;
        & .formcontrol {
          background-color: '#ddd';
          width: 65%;
        }
     }
   }
  }
}
